body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #fafafa;
  color: #07599C;
}

.site-header {
  background: #07599C;
  color: white;
  padding: 1rem 2rem;
}

.header-inner {
  display: flex;
  align-items: center;   
  justify-content: space-between;
}

.site-title {
  margin: 0;
}

.site-title a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.0rem;
}

.nav-links a:hover {
  text-decoration: underline;
}


.site-logos {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cesga-logo {
  height: 60px;   
  width: auto;  
}

/* -------------------------- */

.content {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.site-footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9em;
  color: #666;
}



