<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>

<header class="site-header">
  <div class="header-inner">
    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      <div class="nav-links">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/content/' | relative_url }}">Notebooks</a>
        <a href="https://github.com/achavert/qmio-openpulse">GitHub</a>
      </div>
    </h1>
    <nav class="site-logos">
      <img src="{{ '/assets/logo_quorum.png' | relative_url }}" alt="QUORUM logo" class="quorum-logo">
      <img src="{{ '/assets/logo_cesga.png' | relative_url }}" alt="CESGA logo" class="cesga-logo">
    </nav>
    </nav>
  </div>
</header>

<main class="content">
  {{ content }}
</main>

<footer class="site-footer">
  <p>© {{ site.time | date: '%Y' }} – QUORUM, Galician Supercomputing Centre</p>
</footer>

</body>
</html>



