<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/notebook.css' | relative_url }}">

  {% seo %}
</head>
<body>

<header class="site-header">
  <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/notebooks/' | relative_url }}">Notebooks</a>
    <a href="https://github.com/achavert/qmio-openpulse">GitHub</a>
  </nav>
</header>

<main class="content">
  {{ content }}
</main>

<footer class="site-footer">
  <p>© {{ site.time | date: '%Y' }} – QMIO</p>
</footer>

</body>
</html>



