name: deploy-book

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install jupyter-book
          # Instalamos esto por si acaso hay problemas de compatibilidad en Ubuntu 24.04
          pip install markupsafe==2.0.1 

      - name: Build book
        run: |
          # Forzamos a jupyter-book a usar el directorio actual explícitamente
          # Usamos --config y --toc para que no haya duda de dónde están
          jupyter-book build . --config _config.yml --toc _toc.yml

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "_build/html"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
