name: deploy-book

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install jupyter-book

      - name: Build the book
        run: |
          jupyter-book build .

      - name: Create .nojekyll file
        run: |
          touch ./_build/html/.nojekyll

      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html
          keep_files: true # Ayuda a que no se borren archivos entre despliegues
